
.jqplot-image-button {
    margin-bottom: 15px;
    margin-top: 15px;
}

div.jqplot-image-container {
  position: relative;
  z-index: 11;

    margin: auto;
    display: none;
    background-color: #ffffff;
    border: 1px solid #999;
    display: inline-block;
    margin-top: 25px;
}

div.jqplot-image-container-header {
    font-size: 1.0em;
    font-weight: bold;
    padding: 5px 15px;
    background-color: #eee;
}

div.jqplot-image-container-content {
    padding: 15px;
    background-color: #ffffff;
}

a.jqplot-image-container-close {
    float: right;
}
