/*内页导航*/

.inside-nav{position:fixed;top:40px;left:0;z-index:9991;width:73px;min-height:400px;background:url(../images/inside_nav_bg.png) repeat-y 40px 0 #fff;overflow:hidden;}
.inside-nav .back-home{display:block;width:40px;height:35px;line-height:35px;background:url(../images/icon/back.png) no-repeat center center #27292c;font-size:14px;font-weight:700;color:#fff;}
.inside-nav .back-home span{display:none;}
.inside-nav .back-home:hover{text-decoration:none;}
.inside-nav-cut-show,.inside-nav-cut-hide{position:absolute;top:100px;right:0;display:block;width:33px;height:79px;background:url(../images/inside_nav_cut.png) no-repeat;outline:none;}
.inside-nav-cut-show{background-position:0 -81px;}
.inside-nav-wrap{width:40px;overflow:hidden;}
.inside-nav-inner{margin:0 1px 0 1px;}
.inside-nav-list .tt{display:none;height:38px;line-height:38px;border-bottom:1px solid #dedede;padding-left:4px;font-size:14px;font-weight:700;color:#010101;}
.inside-nav-list ul li{height:36px;padding:1px 0;}
.inside-nav-list ul li a{display:block;height:36px;line-height:36px;padding-left:7px;font-size:14px;color:#010101;}
.inside-nav-list ul li a:hover{text-decoration:none;}
.inside-nav-list ul li a img{float:left;display:block;width:16px;height:16px;margin:10px 0;}
.inside-nav-list ul li a span{display:none;height:36px;line-height:36px;margin-left:24px;}
.inside-nav-list ul li.current a{color:#fff;}

.inside-nav-show{width:200px;background-position:167px 0;}
.inside-nav-show .back-home{width:113px;background-position:27px center;padding-left:54px;font-size:14px;font-weight:700;color:#fff;}
.inside-nav-show .back-home span{display:inline-block;}
.inside-nav-show .inside-nav-wrap{width:167px;}
.inside-nav-show .inside-nav-inner{margin:0 1px 0 6px;}
.inside-nav-show .inside-nav-list .tt{display:block;}
.inside-nav-show .inside-nav-list ul li a{padding-left:4px;}
.inside-nav-show .inside-nav-list ul li{border-bottom:1px solid #dedede;}
.inside-nav-show .inside-nav-list ul li a span{display:block;}