*{
	margin:0;
	padding:0;
	font-family:"ו";
}
body{
	background:url(../images/BodyBg.gif);
}
.LoginBox{
	width:100%;
	font-size:12px;
	background:url(../images/LoginBoxBg.gif) repeat-y;
}
.White13Bold{
	font-size:13px;
	font-weight:bold;
	color:#FFF;
}
.NameText,.PswText{
	color:#4c4c4c;
}
.LoginInput{
	width:126px;
	height:12px;
	padding:3px 0;
	border:#bdbdbd solid 1px;
}
.LoginLink{
	color:#8a4301
}
.News{
	width:100%;
	font-size:12px;
	background:url(../images/NewsBoxBg.gif) repeat-x;
}
.NewsTitle{
	height:13px;
	display:block;
	margin-left:6px;
	padding:1px 0;
	text-indent:12px;
	font-size:13px;
	font-weight:bold;
	color:#454545;
	background:url(../images/Ico09.gif) no-repeat;
}
.Tag01{
	width:100%;
	background:url(../images/TagOutBg01.gif) repeat-y;
}
.Tag01 .TagPicHover01{
	width:104px;
	height:27px;
	font-size:12px;
	padding-top:10px;
	font-weight:bold;
	text-align:center;
	color:#000;
	cursor:pointer;
	background:url(../images/TagPicHover01.gif) no-repeat;
}
.Tag01 .TagPic01{
	width:104px;
	height:27px;
	font-size:12px;
	padding-top:10px;
	font-weight:bold;
	text-align:center;
	color:#FFF;
	cursor:pointer;
	background:url(../images/TagPic01.gif) no-repeat;
}
.Tag01 .TagPic02{
	width:101px;
	height:27px;
	font-size:12px;
	padding-top:10px;
	font-weight:bold;
	text-align:center;
	color:#FFF;
	cursor:pointer;
	background:url(../images/TagPic02.gif) no-repeat;
}
.Tag01 .TagPicHover02{
	width:101px;
	height:27px;
	font-size:12px;
	padding-top:10px;
	font-weight:bold;
	text-align:center;
	color:#000;
	cursor:pointer;
	background:url(../images/TagPicHover02.gif) no-repeat;
}
.ServerCenter{
	width:100%;
	height:119px;
	background:url(../images/ServerCenterBg.gif) repeat-y;
}
.Black13Bold{
	font-size:13px;
	font-weight:bold;
	color:#454545;
}
.Ico{
	background:url(../images/Ico13.gif) no-repeat 140px bottom;
}
.ServerCenter a{
	font-size:12px;
	color:#454545;
	text-decoration:none;
}
.Sample{
	width:100%;
	height:380px;
	font-size:12px;
	background:url(../images/ServerCenterBg.gif) repeat-y;
}
.Vote{
	width:100%;
	height:191px;
	font-size:12px;
	background:url(../images/ServerCenterBg.gif) repeat-y;
}
.VoteIntro{
	font-size:12px;
	color:#454545;
}
.Experience{
	width:100%;
	height:420px;
	font-size:12px;
	background:url(../images/ExperienceBg.gif) repeat-y;
}
.NewCustomer{
	width:100%;
	height:353px;
	font-size:12px;
	background:url(../images/NewCustomorBg.gif) repeat-y;
}
.MapContent{
	width:100%;
	height:282px;
	overflow-y:scroll;
	overflow-x:hidden;
}
.iButton{
	width:51px;
	height:21px;
	border:0;
	background:url(../images/iButton.gif) no-repeat;
}
.SearchBox{
	width:142px;
	height:17px;
	border:#b8b8b8 solid 1px;
}
.List{
	display:block;
	color:#4c4c4c;
	text-decoration:none;
	line-height:24px;
	text-indent:14px;
	background:url(../images/Ico14.gif) no-repeat 0 6px;
}
.Date{
	color:#4c4c4c;
	line-height:24px;
}
.TagHover02{
	cursor:pointer;
	background:url(../images/TagHover02.gif) no-repeat;
}
.Tag02{
	cursor:pointer;
}
#ExperienceTag1 table{
	background:url(../images/Human01.gif) no-repeat 12px 18px;
}
#ExperienceTag2 table{
	background:url(../images/Human02.gif) no-repeat 12px 18px;
}
#ExperienceTag3 table{
	background:url(../images/Human03.gif) no-repeat 12px 18px;
}
#ExperienceTag4 table{
	background:url(../images/Human04.gif) no-repeat 12px 18px;
}
.ExperienceTitle{
	display:block;
	padding-top:8px;
	font-size:14px;
	color:#fa9232;
	font-weight:bold;
}
.ExperienceIntro{
	width:156px;
	font-size:13px;
	line-height:18px;
}
#ExperienceContent1{
	width:334px;
	height:372px;
	background:url(../images/TagContent01.gif) no-repeat;
}
#ExperienceContent2{
	width:334px;
	height:372px;
	background:url(../images/TagContent02.gif) no-repeat;
}
#ExperienceContent3{
	width:334px;
	height:372px;
	background:url(../images/TagContent03.gif) no-repeat;
}
#ExperienceContent4{
	width:334px;
	height:372px;
	background:url(../images/TagContent04.gif) no-repeat;
}
.unitDisplay a{
	display:block;
	color:#FF0000;
	text-decoration:none;
	line-height:24px;
	text-indent:14px;
	background:url(../images/Ico14.gif) no-repeat 0 6px;
}

.unitDisplay a:hover{
	color:#FF0000;
	display:block;
	text-decoration:underline;
	line-height:24px;
	text-indent:14px;
	background:url(../images/Ico14.gif) no-repeat 0 6px;
}
