body{background:#fff;overflow-x:auto;overflow-y:hidden;color:#444;}
#header,#container{min-width:1190px;}
#header{height:40px;background:url(../images/array/header_bg.png) no-repeat #058de9;}
#header .tt{float:left;width:200px;padding-left:10px;font:100 18px/40px "Microsoft YaHei";color:#fff;}
#header .opt{float:right;width:500px;text-align:right;}
#header .opt a{display:inline-block;height:40px;line-height:40px;background:#0d7eca;padding:0 15px;font-size:14px;font-weight:700;color:#fff;}
#container{}
.sidebar-left{position:relative;float:left;width:160px;min-height:500px;background:#374051;border-right:3px solid #efeeee;}
.sidebar-left ul{border-top:1px solid #4a5364;border-left:1px solid #4a5364;overflow:auto;}
.sidebar-left ul li{border-bottom:1px solid #495263;}
.sidebar-left ul li a{display:block;height:39px;line-height:39px;padding-left:9px;font-size:14px;color:#fff;}
.sidebar-left ul li a:hover,.sidebar-left ul li.current a{background:#3198dd;text-decoration:none;color:#fff;}
.sidebar-filter{}
.sidebar-filter p.tt{background:#6f7b92;border:1px solid #a0b2be;padding:0 5px;margin:10px 5px;}
.sidebar-filter p.tt .txt{width:100%;height:20px;line-height:20px;background:none;border:0;color:#fff;}
.sidebar-filter .inner{position:relative;margin:0 6px;}
.sidebar-filter .list{position:absolute;top:-10px;left:-1px;display:none;width:100%;max-height:200px;background:#6f7b92;border:1px solid #a0b2be;border-top:0;overflow:auto;}
.sidebar-filter .list a{display:block;height:20px;line-height:20px;padding:0 5px;color:#fff;}
.sidebar-filter .list a:hover{background:#000;text-decoration:none;}
.sidebar-right{float:right;width:330px;min-height:500px;border-left:3px solid #efeeee;}
.content{min-height:500px;margin:0 333px 0 163px;}


/*排课表*/
.syllabus-table{width:100%;border-collapse:collapse;}
.syllabus-table th,.syllabus-table td{border:1px solid #c7c5c6;text-align:center;}
.syllabus-table th{background:#f1f2f6;}
.syllabus-table td{background:#f7fcff;}
.syllabus-table td.line{background:#fff;font-size:0;}
span.item{position: relative;display:block;min-height:20px;background:#cef2ce;margin:1px;overflow:hidden;}
span.item-hover{background:#f6fbff;}/*鼠标滑过*/
span.item-can{background:#ace3ac;}/*可选*/
span.item-lock{background:#fef0d1;}/*已选中 锁定*/
span.item-sel{background:#ffa8a8 !important;}/*已选中*/
span.item-con{background:#f6fbff;}/*冲突*/
span.item span{display:block;text-align:center;white-space:nowrap;overflow:hidden;}
span.item .course,span.item .room{color:#444;}
span.item .name,span.item .grade{color:#0863d5;}
span.item .icon{position: absolute;top: 0;right: 0;display: block;width: 18px;}
span.item .icon i{display: block;height: 18px;line-height: 18px;border-radius: 1px;margin-bottom: 1px;text-align: center;font-style:normal;}
span.item .icon-t{background-color: #fecd57;color: #ac7f12;}
span.item .icon-d{background-color: #5fca43;color: #23860d;}
span.item .icon-g{background-color: #f38585;color: #a03030;}
/*班级课表*/
.content .syllabus-tt{height:45px;background:#c5e1fb;}
.content .syllabus-tt .tit{margin-right:180px;height:45px;line-height:45px;padding-left:15px;font-size:16px;font-weight:700;overflow:hidden;}
.content .syllabus-tt .tit a{font-size:12px;}
.content .syllabus-tt .tips{float:right;float:right;width:180px;}
.content .syllabus-tt .tips span{display:block;float:left;width:56px;height:14px;line-height:14px;padding-left:24px;margin-top:5px;}
.content .syllabus-tt .tips span.lock{background:url(../images/array/logo_1.png) no-repeat;width:76px;}
.content .syllabus-tt .tips span.con{background:url(../images/array/logo_3.png) no-repeat;}
.content .syllabus-tt .tips span.can{background:url(../images/array/logo_4.png) no-repeat;}
.content .syllabus-tt .tips span.sel{background:url(../images/array/logo_2.png) no-repeat;width:76px;}
.content .syllabus-table th{height:38px;font-size:14px;font-weight:700;}
.content .syllabus-table th.sort{width:30px;}
.content .syllabus-table td{font:100 14px "Microsoft YaHei";}
.content .syllabus-table td.line{height:9px;}
.content .syllabus-table td span.item-hover .course,.content .syllabus-table td span.item-hover .room{color:#0863d5;}
.content .syllabus-tt2{height:75px;}
.content .syllabus-tt2 .tips{padding-top:15px;}
.content .syllabus-tt2 .tit-info{margin-right:180px;padding-left:10px;}
.content .syllabus-tt2 .tit-info .info{padding:10px 0;font-size:16px;font-weight:700;color:#444;}
.content .syllabus-tt2 .tit-info .info span{color:#ff6000;}
.content .syllabus-tt2 .tit-info .abtn{float:left;display:block;width:24px;height:24px;line-height:24px;background:#3198dd;border-radius:3px;text-align:center;font-size:14px;font-weight:700;color:#fff;}
.content .syllabus-tt2 .tit-info .abtn:hover{text-decoration:none;}
.content .syllabus-tt2 .tit-info .abtn-no{background:#959a9e;cursor:inherit;}

/*教师课表*/
.sidebar-right .syllabus-tt{height:22px;line-height:22px;background:#e6f3ff;border-right:1px solid #c8c8c8;border-left:1px solid #c8c8c8;font-weight:700;padding-left:5px;}
.sidebar-right .syllabus-table th{height:22px;font-weight:100;}
.sidebar-right .syllabus-table th.sort{width:22px;}
.sidebar-right .syllabus-table td.line{height:3px;}
.sidebar-right .syllabus-table td span.item{background:#f6fbff;}
.sidebar-right .syllabus-table td span.item-can{background:#9fe0a0;}/*可选*/
.sidebar-right .syllabus-table td span.item-over{background:#6cc46c;}/*先选中后鼠标滑过*/
.sidebar-right .syllabus-table td span.item-hover{background:#ace3ac;}/*鼠标滑过*/
.sidebar-right .syllabus-table td span.item-lock{background:#fef0d1;}/*已选中 锁定*/
/*未排课程*/
.syllabus-from{padding:5px;overflow:hidden;zoom:1;}
.syllabus-from li{float:left;width:100px;margin-bottom:5px;cursor:pointer;}
.syllabus-from li.cln-item{position:absolute;}
.syllabus-from li p{height:42px;background:#2d9feb;margin:0 3px;overflow:hidden;zoom:1;}
.syllabus-from li span{display:block;white-space:nowrap;overflow:hidden;line-height:16px;text-align:center;font:100 12px "Microsoft YaHei";}
.syllabus-from li span.room{display:none;}
.syllabus-from li span.surplus{float:right;width:18px;height:32px;background:#0d7eca;padding:5px 0;text-align:center;color:#fff;}
.syllabus-from li span.tt{margin-right:18px;padding:5px 0;}
.syllabus-from li span.tt span.course{color:#fff;}
.syllabus-from li span.tt span.name{color:#0b68d7;}
.syllabus-from li.over .item{background:#abaeb9;}
.syllabus-from li.over span.surplus{background:#9497a3;}
.syllabus-from li.over span.tt span.name{color:#fff;}
.syllabus-from li.empty .item{height:38px;background:#fff;border:1px solid #c8c8c8;padding:1px;}
.syllabus-from li.empty .item span{height:38px;background:#c2edc2;}
.syllabus-from li.sel p{background:#ffa8a8;}
.syllabus-from li.sel span.surplus{background:#f86d6d;}
/*未排课克隆元素*/
li.cln-item{position:absolute;z-index:999;width:100px;}
li.cln-item p{height:42px;background:#2d9feb;margin:0 3px;overflow:hidden;zoom:1;}
li.cln-item span{display:block;white-space:nowrap;overflow:hidden;line-height:16px;text-align:center;font:100 12px "Microsoft YaHei";}
li.cln-item span.room{display:none;}
li.cln-item span.surplus{float:right;width:18px;height:32px;background:#0d7eca;padding:5px 0;text-align:center;color:#fff;}
li.cln-item span.tt{margin-right:18px;padding:5px 0;}
li.cln-item span.tt span.course{color:#fff;}
li.cln-item span.tt span.name{color:#0b68d7;}
li.cln-item.sel p{background:#ffa8a8;}
li.cln-item.sel span.surplus{background:#f86d6d;}
/*教师选择*/
.sidebar-right-wrap{height:355px;background:#f6fbff;border-right:1px solid #c8c8c8;border-bottom:1px solid #c8c8c8;}
.sidebar-right-wrap .tab{height:36px;overflow:hidden;}
.sidebar-right-wrap .tab li{position:relative;float:left;width:33.33%;height:36px;cursor:pointer;}
.sidebar-right-wrap .tab li span{position:absolute;top:0;left:-1px;display:block;width:100%;height:34px;line-height:34px;background:#e6f3ff;border:1px solid #c8c8c8;text-align:center;font-weight:700;color:#444;}
.sidebar-right-wrap .tab li.current span{background:#f6fbff;border-bottom:1px solid #f6fbff;}
.sidebar-right-wrap .tab-item{height:284px;background:#fff;overflow-x:hidden;overflow-y:auto;}
.sidebar-right-wrap .tablewrap{height:320px;overflow-x:hidden;overflow-y:auto;}
.sidebar-right-wrap .tablewrapsearch{height:280px;overflow-x:hidden;overflow-y:auto;}
.sidebar-right-wrap table{width:100%;border-collapse:collapse;}
.sidebar-right-wrap table td{height:24px;background:#fff;}
.sidebar-right-wrap table td.name{width:50px;padding-left:15px;}
.sidebar-right-wrap table td.opt{width:40px;}
.sidebar-right-wrap table tr.even td{background:#f1f2f6;}
.sidebar-right-wrap table tr.current td{background:#c5e1fb;}

/*搜索*/
.pub-search{width:180px;height:23px;border:1px solid #d0d5d8;background:#fff;margin:5px;position:relative;}
.pub-search .txt{width:110px;height:23px;line-height:23px;border:0;padding:0 5px;}
.pub-search .btn{position:absolute;top:-1px;right:-1px;display:block;width:60px;height:25px;line-height:25px;text-align:center;border-radius:3px;cursor:pointer;}
.pub-search-list{position:absolute;top:23px;left:-1px;z-index:999;width:100%;border:1px solid #a0b2be;background:#fff;}
.pub-search-list a{display:block;height:25px;line-height:25px;padding:0 5px;}
.pub-search-list a:hover{background:#f3f3f3;}



/*课表调整过程添加元素*/
body>span.item{position:absolute;top:100px;left:100px;z-index:999;font:100 14px "Microsoft YaHei";}


/*自动关闭错误提示*/
.auto-layer-mask{position:absolute;top:0;left:0;z-index:99998;width:100%;height:100%;background:rgba(0,0,0,0.3);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#33000000',EndColorStr='#33000000');}
.auto-layer{position:absolute;top:0;left:0;z-index:99999;max-width:300px;background:#fff;border-radius:5px;padding:10px 20px;text-align:center;font:100 16px "Microsoft YaHei";}

.array-set{padding:10px 20px 20px;}
.array-set .tit{position:relative;height:20px;border-top:1px solid #ddd;margin-top:20px;}
.array-set .tit span{position:absolute;top:-11px;left:0;height:20px;line-height:20px;background:#fff;padding-right:10px;font-size:14px;font-weight:700;}
.array-set .did .ui-checkbox{float:left;width:29%;margin:5px 0;}

.no-data {
    height: 20px;
    text-align: center;
    padding-top: 100px;
    color: #999fa5;
    background: url(../../static/images/no_data2.png) no-repeat top center;
    font: normal 14px/20px "Microsoft YaHei";
}

.popUp-layer-tips .mysuccess {
    background: url(../../static/images/icon/success1.png) no-repeat left center;
}
.popUp-layer-tips .mywarn {
    background: url(../../static/images/icon/warn.png) no-repeat left center;
}
.popUp-layer-tips .error{
	background:url(../../static/images/icon/error.png) no-repeat left center;
}

.popUp-layer-tips .mysuccess, .popUp-layer-tips .myerror, .popUp-layer-tips .mywarn {
    display: inline-block;
    /*height: 48px;*/
    line-height: 24px;
    padding-left: 30px;
    text-align: left;
    margin: 0 20px;
}