/*工作流附加样式*/
.wf-step-hover{background-color:#FFF;border-color:#D96F23;color:#EE8C0C}
.wf-step-hover i{background-color:#F09825;background-image:-webkit-linear-gradient(top,#F09825 50%,#EE8C0C 50%,#EE8C0C);background-image:-moz-linear-gradient(top,#F09825 50%,#EE8C0C 50%,#EE8C0C);background-image:-o-linear-gradient(top,#F09825 50%,#EE8C0C 50%,#EE8C0C);background-image:linear-gradient(top,#F09825 50%,#EE8C0C 50%,#EE8C0C);border-color:#D96F23;color:#FFF}
.wf-step-active i{background-color:#49A2DF;background-image:-webkit-linear-gradient(top,#49A2DF 50%,#3497DB 50%,#3497DB);background-image:-moz-linear-gradient(top,#49A2DF 50%,#3497DB 50%,#3497DB);background-image:-o-linear-gradient(top,#49A2DF 50%,#3497DB 50%,#3497DB);background-image:linear-gradient(top,#49A2DF 50%,#3497DB 50%,#3497DB);border-color:#238DD9;color:#FFF}
.wf-step-view i{background-color:#49494C;background-image:-webkit-linear-gradient(top,#49494C 50%,#343438 50%,#343438);background-image:-moz-linear-gradient(top,#49494C 50%,#343438 50%,#343438);background-image:-o-linear-gradient(top,#49494C 50%,#343438 50%,#343438);background-image:linear-gradient(top,#49494C 50%,#343438 50%,#343438);border-color:#343438;color:#FFF}
.wf-step-inactive{background-color:#B2C0D1;background-image:-webkit-linear-gradient(top,#B2C0D1,#A8B7CA);background-image:-moz-linear-gradient(#B2C0D1,#A8B7CA);background-image:-ms-linear-gradient(#B2C0D1,#A8B7CA);background-image:-o-linear-gradient(#B2C0D1,#A8B7CA);background-image:linear-gradient(#B2C0D1,#A8B7CA);border-color:#A5B2C1;color:#FFF}
.wf-step-sub{background-color:#3497DB;background-image:-webkit-linear-gradient(top,#3497DB,#2C8BD5);background-image:-moz-linear-gradient(#3497DB,#2C8BD5);background-image:-ms-linear-gradient(#3497DB,#2C8BD5);background-image:-o-linear-gradient(#3497DB,#2C8BD5);background-image:linear-gradient(#3497DB,#2C8BD5);border-color:#2081C7;color:#FFF}
.wf-step-processing{background-color:#EE8C0C;background-image:-webkit-linear-gradient(top,#EE8C0C,#EB800A);background-image:-moz-linear-gradient(#EE8C0C,#EB800A);background-image:-ms-linear-gradient(#EE8C0C,#EB800A);background-image:-o-linear-gradient(#EE8C0C,#EB800A);background-image:linear-gradient(#EE8C0C,#EB800A);border-color:#D96F23;color:#FFF}
.wf-step-finish{background-color:#91CE31;background-image:-webkit-linear-gradient(top,#91CE31,#85C629);background-image:-moz-linear-gradient(#91CE31,#85C629);background-image:-ms-linear-gradient(#91CE31,#85C629);background-image:-o-linear-gradient(#91CE31,#85C629);background-image:linear-gradient(#91CE31,#85C629);border-color:#7ABF18;color:#FFF}
.wf-step-suspend{background-color:#6C6C71;background-image:-webkit-linear-gradient(top,#6C6C71,#606065);background-image:-moz-linear-gradient(#6C6C71,#606065);background-image:-ms-linear-gradient(#6C6C71,#606065);background-image:-o-linear-gradient(#6C6C71,#606065);background-image:linear-gradient(#6C6C71,#606065);border-color:#353539;color:#FFF}
/*._jsPlumb_connector._jsPlumb_hover{cursor:url(../images/workflow/scissor.cur),auto}*/
.aLabel {
  background-color:white; 
  padding:0.4em; 
  font:12px sans-serif; 
  color:#000;
  z-index:21;
  border:1px dotted gray;
  opacity:0.8;
  filter:alpha(opacity=80);
  cursor: pointer;
}
.aLabel._jsPlumb_hover {
  background-color:#5C96BC;
  color:white;  
  border:1px solid white;
}
